<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Stroke Predictor</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='stroke-favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    </head>

    <body>

        <!-- Website Title -->
    	<div class="container">
            <h2 class='container-heading'><span class="heading_font">Stroke Predictor</span></h2>
            <div class='description'>
    			<p>A Machine Learning Web App, Built with Flask.</p>
    		</div>
    	</div>

        <!-- Text Area -->
    	<div class="ml-container">
    		<form action="{{ url_for('predict') }}" method="POST">
          <br><br>
          <label for="gender">Gender </label>
          <select required class="form-input align-center" name="gender" >
            <option value="none">--- Select Gender ---</option>
            <option value="1">Male</option>
            <option value="0">Female</option>
          </select> <br>

          <label for="hypertension">Do you have hypertension ? </label>
          <select class="form-input align-center" name="hypertension" required="required">
            <option value="none">--- Select option  ---</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select><br>

          <label for="heart">Do you have heart-disease ? </label>
          <select class="form-input align-center" name="heart" required>
            <option value="none">--- Select option ---</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select><br>

          <label for="married">Did you Married ? </label>
          <select class="form-input align-center" name="married" required>
            <option value="none">--- Select option ---</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select><br>

          <label for="work">Select your work category type </label>
          <select class="form-input align-center" name="work" required>
            <option value="none">--- Select option ---</option>
            <option value="0">Government job</option>
            <option value="1">Never Worked</option>
            <option value="2">Private</option>
            <option value="3">Self Employed</option>
          </select><br>

          <label for="work">Select Your Residence area </label>
          <select class="form-input align-center" name="residence" required>
            <option value="none">--- Select option ---</option>
            <option value="0">Rural</option>
            <option value="1">Urban</option>
          </select><br>

          <label for="work">Select Your Smoking Status </label>
          <select class="form-input align-center" name="smoking" required>
            <option value="none">---Select option ---</option>
            <option value="0">Unknown</option>
            <option value="1">Formarly smoked</option>
            <option value="2">Never Smoked</option>
            <option value="3">Smokes</option>
          </select><br>

          <label for="age">Enter Age </label>
          <input class="form-input" type="text" name="age" placeholder="Age (years) eg. 47"  required><br>

          <label for="work">Enter Glucose level of body </label>
          <input class="form-input" type="text" name="glucose" placeholder="Glucose level eg. 95.12" required><br>

          <label for="work">Enter BMI </label>
          <input class="form-input" type="text" name="bmi" placeholder="Body Mass Index (kg/m²) eg. 23.1" required><br>

          <br>
        	<input type="submit" class="my-cta-button" value="Predict">
        	</form>
    	</div>

        <!-- Footer -->
       <div class='footer'>
           <div class="contact">
               <a target="_blank" href="https://github.com/Anchal1508/"><i class="fab fa-github fa-lg contact-icon"></i></a>
               <a target="_blank" href="https://www.linkedin.com/in/anchal15/"><i class="fab fa-linkedin fa-lg contact-icon"></i></a>
           </div>
           <p class='footer-description'>Made with ❤️ by Anchal Gupta.</p>
       </div>
  </body>
</html>
